<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Text" version="3.9.26" targetFramework="wp71" />
  <package id="SharpGIS.GZipWebClient" version="1.2" targetFramework="wp71" />
  <package id="SilverlightToolkitWP" version="4.2012.10.9" targetFramework="wp71" />
</packages>