<MarketplaceDetails>
  <SmallAppTile>PublicBikeLogo99.png</SmallAppTile>
  <LargeAppTile>PublicBikeLogo173.png</LargeAppTile>
  <PCAppTile>PublicBikeLogo200.png</PCAppTile>
  <ScreenShots>start screen.png;favorites.png;all stations.png;configuration.png;station info.png;routing.png;;;</ScreenShots>
</MarketplaceDetails>